
build/generated/mockable-android-22.jar

build/generated/mockable-android-25.jar

build/intermediates/dex-cache/cache.xml

gradle/wrapper/gradle-wrapper.properties

gradle/wrapper/gradle-wrapper.properties

local.properties

xyzreader.iml

.gradle/2.14.1/taskArtifacts/cache.properties

.gradle/2.14.1/taskArtifacts/cache.properties.lock

.idea/workspace.xml

.gradle/2.14.1/taskArtifacts/fileHashes.bin

.gradle/2.14.1/taskArtifacts/fileSnapshots.bin

P5-Make-Your-App-Material.iml
