
build/generated/mockable-android-22.jar

build/generated/mockable-android-25.jar

build/intermediates/dex-cache/cache.xml

gradle/wrapper/gradle-wrapper.properties

gradle/wrapper/gradle-wrapper.properties

local.properties

xyzreader.iml
